<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="BIG5">
<title>Insert title here</title>
</head>
<body>
	<p th:if="${error}" th:text="${error}"></p>

	<form method="post" th:action="@{/register}" th:object=${form}>
	
	<label for="username">Username:</label>
	<input type="text" th:field="*{username}"/>
	<span th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username Error</span>
	<br/>
	
	<label for="password">Password:</label>
	<input type="password" name="password"/>
	<br/>
	
	<label for="email">Email:</label>
	<input type="text" name="email"/>
	<br/>	
	
	<input type="submit" value="Register"/>
	</form>
</body>
</html>