<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="BIG5">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="css/style.css" />
</head>
<body th:with="context=@{/}">

	<input type="hidden" id="from" th:value="${#authentication.getPrincipal().getUsername()}"/>
	<input type="hidden" id="to" />

	<div class="wrapper">
		<div class="title">
			<div class="left">
				<h2>Message</h2>
			</div>
			<div class="right">
				<span th:text="${#authentication.getPrincipal().getUsername()}"></span> / <a
					href="/logout">Logout</a>
			</div>
		</div>
		<div class="user divWithScroll">
			<div id='user'></div>
		</div>
		<div class="screen divWithScroll" id='response'></div>
		<div class="message">
			<form id="dialogueForm">
				<textarea id="text" rows=5 placeholder="Enter a message...."
					autocomplete="off"></textarea>

				<button type="submit" id="send">Send</button>
			</form>
		</div>
	</div>

	<script type="text/javascript"
		src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.1/sockjs.min.js"></script>
	<script type="text/javascript"
		src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>

	<input type="hidden" th:value="${context}" />
	<script type="text/javascript" src="/js/services/SocketService.js"></script>
	<script type="text/javascript" src="/js/script.js"></script>
</body>
</html>